### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
ctc_lakhs = float(input("Enter your CTC (in Lakhs): "))
ctc = ctc_lakhs * 100000
hra = 0.10 * ctc
da = 0.05 * ctc
pf = 0.03 * ctc
total_deductions = hra + da + pf

if ctc_lakhs < 5:
    tax_rate = 0
elif ctc_lakhs <= 10:
    tax_rate = 0.10
elif ctc_lakhs <= 20:
    tax_rate = 0.20
else:
    tax_rate = 0.30

tax = tax_rate * ctc

in_hand_yearly = ctc - total_deductions - tax
in_hand_monthly = in_hand_yearly / 12

print(f"\nCTC: ₹{ctc:,.2f}")
print(f"Total Deductions (HRA + DA + PF): ₹{total_deductions:,.2f}")
print(f"Tax Deducted @ {tax_rate*100}%: ₹{tax:,.2f}")
print(f"In-Hand Yearly Salary: ₹{in_hand_yearly:,.2f}")
print(f"In-Hand Monthly Salary: ₹{in_hand_monthly:,.2f}")

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
angle1 = int(input("Enter the first angle: "))
angle2 = int(input("Enter the second angle: "))
angle3 = int(input("Enter the third angle: "))

if angle1 + angle2 + angle3 == 180 and angle1 != 0 and angle2 != 0 and angle3 != 0:
  print("These angles can form a triangle.")
else:
  print("These angles cannot form a triangle.")

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:

cost_price = float(input("Enter the cost price: "))
selling_price = float(input("Enter the selling price: "))

if selling_price > cost_price:
  profit = selling_price - cost_price
  print("Profit:",profit)
elif cost_price > selling_price:
  loss = cost_price - selling_price
  print("Loss:",loss)
else:
  print("No profit, no loss.")

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
print(" Menu")
print(" 1. cm to ft")
print(" 2. km to miles ")
print(" 3. usd to inr")
print(" 4. exit")
choice=int(input("enter your choice"))
if(choice == 1):
  cm=float(input("enter the value in cm"))
  ft=cm/30.48
  print(ft)
elif(choice == 2):
  km=float(input("enter the value in km"))
  miles=km*0.621371
  print(miles)
elif(choice == 3):
  usd=float(input("enter the value in usd"))
  inr=usd*77
  print(inr)
elif(choice == 4):
  exit()
else:
  print("invalid choice")

 Menu
 1. cm to ft
 2. km to miles
 3. usd to inr
 4. exit

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n = 10
n1 = 0
n2 = 1

print("Fibonacci series up to 10 terms:")
for i in range(n):
    print(n1, end=' ')
    c = n1+n2
    n1= n2
    n2 = c

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial is:", fact)

Enter a number: 5
Factorial is: 120


### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
num = int(input("Enter a number: "))
reverse = 0

while num != 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10

print("Reversed number:", reverse)

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
N = int(input("Enter a number N: "))
i = 1
total = 0

while i <= N and total <= 300:
    if i % 5 != 0:
        total += i
    i += 1

print("Final sum is:", total)

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum = 0
count = 0

while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    sum += num
    count += 1

if count == 0:
    average = 0
else:
    average = sum / count

print("Sum =", sum)
print("Average =", average)

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
result = []
for number in range(2000, 3201):
    if number % 7 == 0 and number % 5 != 0:
        result.append(number)
print(result)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for num in range(1000, 3001):
  digits = str(num)
  all_even = True
  for digit in digits:
    if int(digit) % 2 != 0:
      all_even = False
      break
  if all_even:
    print(num, end=' ')

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
start = int(input("Enter start of range:"))
end = int(input("Enter end of range:"))

print("Armstrong numbers :")
for num in range(start, end + 1):
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum = sum + digit * digit * digit
        temp = temp // 10
    if sum == num:
        print(num)

Enter start of range:1
Enter end of range:500
Armstrong numbers :
1
153
370
371
407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
H = int(input("Enter hours (0-11): "))
M = int(input("Enter minutes (0-59): "))
minute_angle = 6 * M
hour_angle = 30 * H + 0.5 * M
if hour_angle > minute_angle:
    angle = hour_angle - minute_angle
else:
    angle = minute_angle - hour_angle
if angle > 180:
    min_angle = 360 - angle
else:
    min_angle = angle
print(int(min_angle))

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [1]:
L1 = (0, 10)
R1 = (10, 0)

L2 = (5, 5)
R2 = (15, -5)

if(R1[0]< L2[0]) or (R2[0]<L1[0]) or (R1[1]>L2[1]) or (R2[1]>L1[1]):
  print("rectangles are not overlapping ")
else:
  print("rectangle overlaps")

rectangle overlaps